.section_contact {
  background-color: $white-10;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Righteous", sans-serif;
  font-size: 2.5rem;
  color: $black;
}

.subtitle {
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: $black-8;
  text-align: center;
}

.section_sitemap {
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid var(--primary-color);
}

.grid_item {
  // flex-basis: 33%;
}

.sitemap_subtitle {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 2rem;
  color: $black;
}

.sitemap_subtitle .head {
  margin-bottom: 8px;
}

.sitemap_subtitle .sub {
  font-size: 1rem;
  color: $grey;
}

.link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: none !important;
  outline: none;
  color: $grey;
  padding-bottom: 4px;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--secondary-color);
}

.logo {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
  object-position: center;
}

/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {


	.section_contact{
		height:70vmin;
	}

	.title{
		font-size: 1.7rem;
	}
	.subtitle{
		margin-top: 0;
		font-size: 1rem;
	}

	.grid_item{
		flex-basis: 100%;
		padding: 0 1.5rem;
	}

	.section_sitemap{
		flex-wrap: wrap-reverse;
		margin: 0 5%;
		margin-top: 3rem;
		padding-bottom: 2rem;
	}

	.sitemap_subtitle{
		font-size: 0.9rem;
	}

	.sitemap_subtitle .head{
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.sitemap_subtitle .sub,.link{
		font-size: 0.9rem;
		line-height: 1.5rem;
	}

}

/* MEDIUM SCREENS */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

	.section_contact{
		height:30vh;
	}

	.title{
		font-size: 2rem;
	}
	.subtitle{
		margin-top: 0;
		font-size: 1.5rem;
	}

	.section_sitemap{
		margin: 0 5%;
		margin-top: 3rem;
	}

}

/* LARGE SCREENS */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	.section_contact{
		height:50vh;
	}

	.section_sitemap{
		margin: 0 5%;
		margin-top: 3rem;
	}
}
