/* Key colors */
$primary-color: #3fa9f5; //#FF3737;
$secondary-color: #101047;
$accent-color: #129cff;
$link-color: #0c0028; //#ff6363;#F95555;
$sky-blue: blue;
/* Extra colors */
$secondary-color-light: #2a2a68;
$highlight-color: #ff5858;
//used in feedback -shift to #90ee90; for green.
$light-green: $accent-color;
$primary-filter: invert(50%) sepia(69%) saturate(5416%) hue-rotate(338deg) brightness(101%) contrast(105%);

/*THEME COLORS FOR LIGHT MODE*/
$white: #FFFFFF;
$white-11: #F9F9F9;
$white-10: #F5F5F5;
$white-9: #EAEAEA;
$white-8: #E5E5E5;
$white-7: #DDDDDD;
$black: #000000;
$black-9: #252525;
$black-8: #303030;
$black-7: #5B5B5B;
$dark-grey: #505050;
$mid-grey: #808080;
$light-grey: #C4C4C4;

//unsused
$margin: 4%;
$md-margin: 10%;

/* COLORS */
$red: #FF1744;
$orange: #FF5722;
$yellow: #F9D82C;
$teal: #64FFDA;
$skyblue: #42A5F5;
$darkblue: #651FFF;
$violet: #EA80FC;
$pink: #F61B68;
$skin: #FFB26D;
$green: #00E676;
$grey: #808080;
$gold: #EBC500;

$f-red: invert(24%) sepia(78%) saturate(5144%) hue-rotate(337deg) brightness(99%) contrast(105%);
$f-orange: invert(48%) sepia(28%) saturate(7374%) hue-rotate(346deg) brightness(100%) contrast(102%);
$f-yellow: invert(71%) sepia(61%) saturate(539%) hue-rotate(4deg) brightness(109%) contrast(95%);
$f-teal: invert(76%) sepia(57%) saturate(370%) hue-rotate(108deg) brightness(104%) contrast(101%);
$f-skyblue: invert(54%) sepia(94%) saturate(1411%) hue-rotate(181deg) brightness(99%) contrast(95%);
$f-darkblue: invert(15%) sepia(89%) saturate(5277%) hue-rotate(259deg) brightness(98%) contrast(109%);
$f-violet: invert(75%) sepia(28%) saturate(7362%) hue-rotate(230deg) brightness(101%) contrast(98%);
$f-pink: invert(24%) sepia(95%) saturate(4233%) hue-rotate(327deg) brightness(97%) contrast(99%);
$f-skin: invert(97%) sepia(32%) saturate(6640%) hue-rotate(306deg) brightness(98%) contrast(104%);
$f-green: invert(75%) sepia(29%) saturate(7484%) hue-rotate(104deg) brightness(103%) contrast(101%);
$f-grey: invert(54%) sepia(0%) saturate(0%) hue-rotate(47deg) brightness(94%) contrast(94%);
$f-white: invert(100%) sepia(1%) saturate(2%) hue-rotate(164deg) brightness(105%) contrast(100%);

$d-red: #b3092a;
$d-orange: #c73a0e;
$d-yellow: #D6B50C;
$d-teal: #0e8f70;
$d-skyblue: #24689e;
$d-darkblue: #3e10a3;
$d-violet: #9321a6;
$d-pink: #990e3f;
$d-skin: #7a4b21;
$d-green: #00733b;
$d-grey: #505050;